<header class="header bg-light p-3">
    <div class="container d-flex justify-content-between align-items-center">
        <h1><a href="/products/" class="text-link">Home</a></h1>
        
        <div class="d-flex align-items-center">
            <a href="/carts/67c5c5b63164a5a8fd538104" class="btn btn-outline-dark position-relative">
                🛒 
                <span class="badge bg-danger position-absolute top-0 start-100 translate-middle">
                    {{totalQuantity}}
                </span>
            </a>
        </div>
    </div>
</header>